*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "_partials.scss";

header{
    background-color: rgba(0, 0, 0, 0.733);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 1rem 3rem;
    .left_side{
        p{
            font-size: 2rem;
            color: white;
            font-weight: bolder;
        }
    }
    nav{
       display: flex; 
       align-items: center;
       gap: 2.5vw;
       a{
        text-decoration: none;
        letter-spacing: 1.5px;
        font-size: clamp(0.8rem,2vw,1.2rem);
        color: white;
        font-weight: bold;
       }
       i{
        font-size: clamp(1.3rem,2vw,1.5rem);
        color: white;
       }
    }
}

main{
    height: 100svh;
    background-image: url(./assets/background\ image.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    // @include flexbox(column,center,center);
   color: red;
}